<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="useForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div formArrayName="hobbies">
            <h4>Vos hobbies</h4>
            <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i =index">
                <input type="text"class="form-control" [FormControlName]="i"> 
            </div>
            <button type="button" class="btn btn-succes" (click)="onAddHobby()">Ajoutet un hobby</button>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="useForm.invalid">Soumettre</button>
    </form>
</div>